body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.connect-wallet {
  background: #fff !important;
  color: #0091ff !important;
  border: 1px solid #0091ff !important;
}
